html {
  font-size: 62.5%;
  color: #333;
  background-color: #F7F7F7;
}

:global {
  @media screen and (max-width: 766px) {
    .inner {
      margin: 0 2rem;
    }
  }

  @media screen and (min-width: 767px) {
    .inner {
      margin: 0 auto;
      max-width: 96rem;
    }
  }
}
